.authorize {
  background-color: #fff;
  &__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    @media(max-width: 1426px){
      grid-template-columns: 706px auto;
    }
    @media(max-width: 1199px){
      grid-template-columns: 1fr;
    }
  }

  &__left {
    padding-top: 40px;
    max-width: 530px;
    margin-left: auto;
    width: 530px;
    margin-right: 84px;
    padding-bottom: 40px;
    @media(max-width: 1426px){
      margin-left: 84px;
    }
    @media(max-width: 1199px){
      margin-left: auto;
      margin-right: auto;
      padding-top: 210px;
      padding-bottom: 210px;
      min-height: 100vh;
    }
    @media(max-width: 767px){
      max-width: 100%;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 60px;
    }
  }

  &__right {
    background-image: linear-gradient(to right, #0353a1 0%, #0374e2 100%);
    position: relative;
    min-height: 100vh;
    @media(max-width: 1199px){
      display: none;
    }
  }

  &__logo {
    position: absolute; 
    left: 0;
    right: 0; 
    margin: auto;
    top: 50%;
    transform: translateY(-50%);    

    img {
      width: 377px;
      margin-left: auto;
    margin-right: auto;
    }
  }

  &__houses {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-form {
    &__title {    
      color: #323232;    
      font-size: 26px;
      font-weight: 500;     
      line-height: 40px; 
      margin-bottom: 46px;
      @media(max-width: 767px){
        text-align: center;
      }
    }
  }
  &-header {
    margin-bottom: 79px;
    align-items: center;
  }
}
.authorize-header__logo-sana {
  width: 187px;
  height: 100%;
  @media(max-width: 410px){
    width: 140px;
  }
}
.authorize__link {
  text-decoration: underline;
}
.authorize__register {
  margin-top: 25px;
}
.form-block__text {
  padding-left: 30px;
}
.authorize__content-subtitle {
  font-weight: 500;
  font-size: 18px;
  @media(max-width: 767px){
    text-align: center;
    display: block;
  }
}