// modal
.modal {
  &-header {
    padding: 45px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }
}

.modal-event__title {
  margin-bottom: 17px;
  padding-left: 35px;
  padding-right: 54px;
  font-size: 23px;
  color: #000000;
  padding-top: 30px;
  background-color: #fff;

  @media(max-width: 767px) {
    padding-left: 28px;
    padding-right: 28px;
    font-size: 20px;
  }
}

.modal-event__content {
  padding-right: 54px;
  padding-left: 35px;
  padding-bottom: 85px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

  @media(max-width: 575px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  p {
    margin-bottom: 25px;
  }
}

.modal-dialog {
  max-width: 833px;
  border-radius: 10px;

  @media(max-width: 991px) {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media(max-width: 767px) {
    padding-top: 85px;
  }
}

.modal-event__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 478px;
    object-fit: cover;

    @media(max-width: 767px) {
      height: 320px;
    }
  }
}

.modal-event .modal-content {
  position: relative;
  background-color: transparent;
  border: none;

  @media(max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  right: -79px;
  top: 0;
  position: absolute;

  @media(max-width: 1000px) {
    top: -76px;
    right: 0;
  }
}

.events-hide {
  display: none;
}

div.events-item__image {
  &:hover {
    opacity: 1;
  }
}

.modal-event__bottom {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-content {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  border-radius: 10px;

  @media(max-width: 991px) {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 50px;
  }
}

.modal-main__title {
  margin-bottom: 42px;
}

.modal-main__table-wrapper {
  margin-top: 50px;

  @media(max-width: 767px) {
    margin-top: 15px;
  }
}

.modal-main__border {
  padding-bottom: 22px;
  border-bottom: 1px solid #838383;
}

.modal-main__table {
  thead {
    @media(max-width: 767px) {
      display: none;
    }

    tr {
      td {
        color: #686868;
        font-size: 14px;
        text-align: center;
        padding-top: 9px;

        &:first-child {
          text-align: start;
        }
      }
    }
  }

  tbody {
    @media(max-width: 767px) {
      display: block;
    }

    tr {
      @media(max-width: 767px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        margin-bottom: 15px;
      }

      td {
        font-size: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        padding-right: 4px;
        padding-left: 4px;

        span {
          color: #686868;
          font-size: 14px;
        }

        @media(max-width: 991px) {
          font-size: 16px;
        }

        @media(max-width: 767px) {
          grid-column: 12 span;
          text-align: start;
          padding-top: 7px;
          padding-bottom: 7px;
        }

        &:first-child {
          text-align: start;
        }
      }

      &:last-child {
        td {
          padding-bottom: 0;
        }
      }
    }
  }
}

.modal-poverka__title {
  margin-bottom: 50px;
  @media(max-width: 767px){
    margin-bottom: 30px;
  }

  @media(max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-form {
  background-color: #f5f6f7;
  padding-top: 28px;
  padding-bottom: 30px;
  position: relative;
  margin-top: 30px;
}

.modal-form::after {
  content: '';
  position: absolute;
  width: 830px;
  height: 100%;
  left: -40px;
  top: 0;
  background-color: #f5f6f7;

  @media(max-width: 991px) {
    left: -31px;
  }

}

.modal-form__content {
  position: relative;
  z-index: 1;
}

.modal-poverka  {
  .modal-dialog {
    @media(max-width: 991px){
      max-width: 100%;
    }
    @media(max-width: 575px){
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .modal-form::after {
    @media(max-width: 991px){
      width: calc(100% + 61px);
    }
  }
}

.modal-form__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 25px;
  @media(max-width: 767px){
  grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.modal-form__col {
  grid-column: 6 span;
}

.modal-form .form-input {
  width: 100%;
}

.modal-info {
  padding-top: 50px;
}

.modal-info__item {
  @media(max-width: 410px){
    flex-direction: column;
  }
  span:nth-child(1) {
    min-width: 230px;
  }
}

#modal-ipoteka-dogovor .modal-dialog {
  max-width: 744px;

  @media(max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}

#modal-ipoteka-dogovor {
  .modal-content {
    @media(max-width: 575px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.modal-dogovor__row {
  display: grid;
  grid-template-columns: 300px 235px;
  justify-content: space-between;
  margin-bottom: 18px;

  @media(max-width: 767px) {
    grid-template-columns: 192px auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-dogovor__col {

  // width: 50%;
  &:nth-child(2) {
    @media(max-width: 575px) {
      text-align: end;
    }
  }
}

.dogovor-slider {
  width: 100%;
  margin-top: 45px;
}

.dogovor-slide__head {
  color: #fff;
  background-color: #184aa3;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 23px;
  font-size: 18px;
  margin-bottom: 20px;

  @media(max-width: 575px) {
    flex-direction: column;
  }
}

.dogovor-slide__content {
  padding-left: 21px;
  padding-right: 20px;
}

.dogovor-slide__row {
  margin-bottom: 20px;
}

.dogovor-slide__col {
  color: #000;

  &:nth-child(1) {
    max-width: 225px;
  }
  &:nth-child(2){
    @media(max-width: 575px){
      text-align: end;
    }
  }
}

.dogovor-slide__col_green {
  color: #53b418;
}

.dogovor-navigation {

  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  position: relative;

  .nav-arrow {
    width: 85px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    background-color: #184aa3;
    transition: background-color .2s linear;

    &:hover {
      background-color: #0a3177;
    }

    &-prev {
      justify-content: flex-end;
      padding-right: 17px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &-next {
      justify-content: flex-start;
      padding-left: 17px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.swiper-button-disabled {
      pointer-events: none;
    }
  }

  .nav-between {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
  }
}

#modal-not-payed .modal-dialog {
  max-width: 1330px;
  @media(max-width: 575px){
    padding-left: 0;
    padding-right: 0;
  }
}
#modal-payed {
  .modal-poverka__title {
    @media(max-width: 575px){
      padding-left: 0;
      padding-right: 0;
    }
  }
}
#modal-payed .modal-dialog {
  max-width: 1330px;
  @media(max-width: 575px){
    padding-left: 0;
    padding-right: 0;
  }
  .modal-content {
    @media(max-width: 575px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

#modal-not-payed-ipoteka .modal-dialog {
  max-width: 1330px;

  @media(max-width: 575px) {
    padding-right: 0;
    padding-left: 0;
  }
}

#modal-not-payed {
  .modal-content {
    @media(max-width: 575px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .modal-poverka__title {
    @media(max-width: 575px){
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#modal-not-payed-ipoteka {
  .modal-content {
    @media(max-width: 575px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

#modal-payed-ipoteka .modal-dialog {
  max-width: 1330px;
}

#modal-payed-ipoteka {
  .modal-content {
    @media(max-width: 575px){
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .modal-poverka__title {
    @media(max-width: 575px){
      padding-left: 0;
    }
  }
}


.modal-form__col_4 {
  grid-column: 3 span;

  @media(max-width: 1199px) {
    grid-column: 6 span;
  }
  @media(max-width: 767px){
    grid-column: 12 span;
  }
}

#modal-not-payed .modal-form__grid {
  column-gap: 25px;
}

#modal-not-payed .modal-form::after {
  width: 1326px;

  @media(max-width: 1350px) {
    width: calc(100% + 75px);
  }

  @media(max-width: 991px) {
    width: calc(100% + 62px);
  }
  @media(max-width: 575px){
    width: calc(100% + 39px);
    left: -20px;
  }
}


.modal-payment__table {
  margin-top: 35px;


  @media(max-width: 991px) {
    padding-bottom: 40px;
    overflow: scroll;
    right: -30px;
    margin-left: -30px;
    position: relative;
  }
  @media(max-width: 575px){
    right: -18px;
  }

  table {
    @media(max-width: 991px) {
      width: 1000px;
    }

    thead {
      tr {
        td {
          padding-top: 15px;
          padding-bottom: 20px;
          font-size: 12px;
          color: #686868;
          text-align: center;
          border-top: 1px solid #838383;
          border-bottom: 1px solid #838383;
          padding-right: 4px;
          padding-left: 4px;
          @media(max-width: 575px){
            padding-top: 7px;
            padding-bottom: 7px;
          }

          &:first-child {
            text-align: start;
            max-width: 100px;

            @media(max-width: 991px) {
              width: 400px;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid #838383;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;
          padding-bottom: 19px;
          font-size: 14px;
          vertical-align: baseline;
          padding-right: 4px;
          padding-left: 4px;

          &:first-child {
            text-align: start;

            @media(max-width: 991px) {
              width: 400px;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid #838383;
          }
        }

        &.new-row {
          td {
            padding-top: 30px !important;
          }
        }

        &.new-row_second {
          td {
            padding-top: 10px !important;
          }
        }

        &:last-child {
          td {
            padding-bottom: 19px;
            padding-top: 19px;
            border-bottom: 1px solid #838383;
            border-top: 1px solid #838383;
            font-size: 18px;

            &:not(:last-child) {
              border-right: 1px solid #838383;
            }
          }
        }

        &:first-child {
          td {
            padding-top: 19px;
          }
        }
      }
    }
  }
}

.print-wrapper {
  margin-top: 45px;
  margin-bottom: 50px;
}

.modal-ipoteka-table {

  table {
    @media(max-width: 991px) {
      width: 1000px;
    }

    tbody {
      tr {
        &:first-child {
          td {
            padding-bottom: 120px;
          }
        }
      }
    }
  }
}

.air-datepicker {
  z-index: 1070 !important;
}

.air-datepicker-global-container {
  z-index: 1070 !important;
}

.modal-event .modal-dialog {
  @media(max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* полоса прокрутки (скроллбар) */
.modal-payment__table::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 30px;
  /* высота для горизонтального скролла */
  background: #e5e5e5;
  border-radius: 15px;
  margin-right: 30px;
}


/* ползунок скроллбара */
.modal-payment__table::-webkit-scrollbar-thumb {
  background: #184aa3;
  border-radius: 15px;
  transition: nackground-color 0.2s linear;
  height: 30px;
}

.scroll-action-text {
  font-size: 13px;
  color: #4b4b4b;
  line-height: 15px;
}

.modal-main .modal-dialog {
  @media(max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}
#modal-poverka .modal-poverka__title {
  @media(max-width: 575px){
    padding-left: 0;
    line-height: 27px;
  }
}
#modal-add .modal-poverka__title {
  @media(max-width: 575px){
    padding-left: 0;
    line-height: 27px;
  }
}
#modal-take .modal-poverka__title {
  @media(max-width: 575px){
    padding-left: 0;
    line-height: 27px;
  }
}