.services {
    padding-top: 45px;
    padding-bottom: 80px;
    .row {
        row-gap: 30px;
    }
}
.services-card {
    grid-column: 4 span;
    @media(max-width: 1630px){
        grid-column: 6 span;
    }
    @media(max-width: 1199px){
        grid-column: 12 span;
    }
    @media(max-width: 991px){
        padding-left: 90px;
        padding-right: 90px;
    }
}
.services-card__descr {
    font-size: 14px;
    color: #000;
}
.services-card__title {
    font-size: 30px;
    color: #000000;
    margin-bottom: 6px;
}
.services-form{
    color: #838383;
    margin-top: 25px;
 
}
.services-form__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 15px;
    @media(max-width: 1700px){
        column-gap: 10px;
    }
}
.services-form__input {
    width: 100%;
    border: 1px solid #838383;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}