.nav {
  column-gap: 15px;
  flex-wrap: nowrap;
  @media(max-width: 1660px){
    column-gap: 4px;
  }
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #0353a1;
  background-color: transparent;
  border: 2px solid #0353a1;
  border-radius: 22px;
  @media(max-width: 575px){
    border-radius: 33px;
  }
}

.nav-pills .nav-link {
  border: 2px solid transparent;
  border-radius: 22px;
  @media(max-width: 575px){
    line-height: 19px;
  }
}

.nav-link {
  color: $main-color;
  font-size: 18px;
  padding-right: 25px;
  padding-left: 25px;
  @media(max-width: 1660px){
    font-size: 16px;
  }

}
.payment-item .nav-link {
  @media(max-width: 575px){
    padding-left: 15px;
    padding-right: 15px;
  }
}