.video-sect {
  padding-top: 45px;
  padding-bottom: 80px;
  .row {
    row-gap: 29px;
  }
}
.video-card {
  background-color: #ffffff;
  border-radius: 10px;
  &_wide {
    @media(max-width: 991px){
      padding-right: 95px;
      padding-left: 95px;
      background-color: transparent;
    }
  }
}
.video-card__image {
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @media(max-width: 991px){
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

}
.video-card__title {
  text-align: start;
}