@font-face {
	font-family: OnestBold1602;
	font-display: swap;
	src: url("../fonts/OnestBold1602-hint.woff2") format("woff2"), url("../fonts/OnestBold1602-hint.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OnestMedium1602;
	font-display: swap;
	src: url("../fonts/OnestMedium1602-hint.woff2") format("woff2"), url("../fonts/OnestMedium1602-hint.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OnestRegular1602;
	font-display: swap;
	src: url("../fonts/OnestRegular1602-hint.woff2") format("woff2"), url("../fonts/OnestRegular1602-hint.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
